In [1]:
import numpy as np 
import matplotlib.pyplot as mtp  
import pandas as pd  
from sklearn.model_selection import train_test_split  
from sklearn.tree import DecisionTreeClassifier
# Importing the dataset  
df = pd.read_csv('train.csv')
# df.dropna()
df['Rating'].fillna(df['Rating'].median(),inplace=True)
df['star_5f'].fillna(df['star_5f'].median(),inplace=True)
df['star_1f'].fillna(df['star_1f'].median(),inplace=True)
test_data = pd.read_csv('test.csv')
test_data.drop(test_data.columns[1], axis=1, inplace=True)
test_data
test_data.drop(test_data.columns[2:4], axis=1, inplace=True)
# test_data = test_data.fillna(value = {'Rating' :4, 'star_5f' :156, 'star_1f' :29})
test_data = test_data.fillna(value = {'Rating' :4.011089069629038, 'star_5f' :1557.443199381762, 'star_1f' :270.3977856860419})
# test_data = test_data.fillna(value = {'Rating' :4.1, 'star_5f' :4.0, 'star_1f' :0})
df.drop(df.columns[1], axis=1, inplace=True)
df.drop(df.columns[2:4], axis=1, inplace=True)
df=df.dropna()
df1=df["Offer %"].str.replace("%","")
df1
df['Offer %'] = df1
# create test_X which comes from test_data but includes only the columns you used for prediction.
# The list of columns is stored in a variable called features
 
y = df.price1

# Create X (After completing the exercise, you can return to modify this line!)
features = ['id', 'Rating', 'actprice1', 'norating1',
       'noreviews1', 'star_5f', 'star_4f', 'star_3f', 'star_2f', 'star_1f',
       'fulfilled1']
test_X = test_data[features]
# Select columns corresponding to features, and preview the data
X = df[features]
X.head()

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

# Feature Scaling  
  
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import accuracy_score  
# model=LogisticRegression() 
# model.fit(train_X,train_y) 
# from sklearn.preprocessing import StandardScaler  
# sc = StandardScaler()  
# train_X = sc.fit_transform(train_X)  
# test_X = sc.transform(test_X)  


model= DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=100,
 max_features=None, max_leaf_nodes=None,
  min_samples_leaf=1,
 min_samples_split=2, min_weight_fraction_leaf=0.0,
 random_state=0, splitter='best')




model.fit(train_X,train_y)
# make predictions which we will submit. 
test_preds = model.predict(test_X)

# from sklearn.trees import DecisionTreeClassifier
# dtree = DecisionTreeClassifier(max_depth=10 ,random_state=101,max_features=None,min_samples_leaf=15)
# dtree.fit(train_X,train_y)
# test_preds = dtree.predict(test_X)
# from sklearn.ensemble import RandomForestClassifier
# rfm = RandomForestClassifier(n_estimators=5000 ,random_state=0,max_features=None,min_samples_leaf=1,n_jobs=-5)
# rfm.fit(train_X,train_y)
# test_preds = rfm.predict(test_X)

output = pd.DataFrame({'id': test_data.id,'price1': test_preds})


output.to_csv('final3.csv', index=False)

df1 = pd.read_csv('final3.csv')
df1

         id  price1
0      2242     379
1     20532     199
2     10648     249
3     20677     949
4     12593     405
...     ...     ...
5239  14033     629
5240    297    1898
5241  18733     399
5242   6162     152
5243  13574     749

[5244 rows x 2 columns]

In [2]:
test_data.Rating.mode()

0    4.1
dtype: float64

In [3]:
test_data.star_5f.mode()

0    4.0
dtype: float64

In [4]:
test_data.star_1f.mode()

0    0.0
dtype: float64

In [5]:
cor= df.corr()

In [6]:
cor

,id,Rating,price1,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
id,1.000000,0.000104,0.005708,0.001796,0.007370,0.008081,0.008111,0.005147,0.006916,0.008446,0.009076,0.008552
Rating,0.000104,1.000000,0.291381,0.250057,0.018072,0.022312,0.027049,0.030486,0.001166,-0.024190,-0.032497,0.171734
price1,0.005708,0.291381,1.000000,0.889674,-0.044817,-0.040798,-0.040253,-0.031569,-0.056026,-0.071057,-0.069839,0.258191
actprice1,0.001796,0.250057,0.889674,1.000000,-0.064582,-0.062824,-0.061068,-0.055378,-0.070795,-0.080277,-0.078751,0.230884
norating1,0.007370,0.018072,-0.044817,-0.064582,1.000000,0.994983,0.990892,0.978598,0.988443,0.962709,0.942836,0.131024
noreviews1,0.008081,0.022312,-0.040798,-0.062824,0.994983,1.000000,0.986368,0.983840,0.983814,0.944380,0.918382,0.124763
star_5f,0.008111,0.027049,-0.040253,-0.061068,0.990892,0.986368,1.000000,0.975133,0.983567,0.956913,0.937764,0.131328
star_4f,0.005147,0.030486,-0.031569,-0.055378,0.978598,0.983840,0.975133,1.000000,0.973247,0.920688,0.887535,0.123521
star_3f,0.006916,0.001166,-0.056026,-0.070795,0.988443,0.983814,0.983567,0.973247,1.000000,0.977318,0.955562,0.125699
star_2f,0.008446,-0.024190,-0.071057,-0.080277,0.962709,0.944380,0.956913,0.920688,0.977318,1.000000,0.987702,0.129333
star_1f,0.009076,-0.032497,-0.069839,-0.078751,0.942836,0.918382,0.937764,0.887535,0.955562,0.987702,1.000000,0.132379
fulfilled1,0.008552,0.171734,0.258191,0.230884,0.131024,0.124763,0.131328,0.123521,0.125699,0.129333,0.132379,1.000000

In [7]:
test_data.head()

,id,Rating,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,2242,3.8,999,27928,3543,14238.0,4295,3457,1962,3976.0,1
1,20532,3.9,499,3015,404,1458.0,657,397,182,321.0,1
2,10648,3.9,999,449,52,229.0,70,71,33,46.0,1
3,20677,3.9,2999,290,40,141.0,51,49,17,32.0,1
4,12593,3.9,999,2423,326,1265.0,414,293,143,308.0,0

In [8]:
cor

,id,Rating,price1,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
id,1.000000,0.000104,0.005708,0.001796,0.007370,0.008081,0.008111,0.005147,0.006916,0.008446,0.009076,0.008552
Rating,0.000104,1.000000,0.291381,0.250057,0.018072,0.022312,0.027049,0.030486,0.001166,-0.024190,-0.032497,0.171734
price1,0.005708,0.291381,1.000000,0.889674,-0.044817,-0.040798,-0.040253,-0.031569,-0.056026,-0.071057,-0.069839,0.258191
actprice1,0.001796,0.250057,0.889674,1.000000,-0.064582,-0.062824,-0.061068,-0.055378,-0.070795,-0.080277,-0.078751,0.230884
norating1,0.007370,0.018072,-0.044817,-0.064582,1.000000,0.994983,0.990892,0.978598,0.988443,0.962709,0.942836,0.131024
noreviews1,0.008081,0.022312,-0.040798,-0.062824,0.994983,1.000000,0.986368,0.983840,0.983814,0.944380,0.918382,0.124763
star_5f,0.008111,0.027049,-0.040253,-0.061068,0.990892,0.986368,1.000000,0.975133,0.983567,0.956913,0.937764,0.131328
star_4f,0.005147,0.030486,-0.031569,-0.055378,0.978598,0.983840,0.975133,1.000000,0.973247,0.920688,0.887535,0.123521
star_3f,0.006916,0.001166,-0.056026,-0.070795,0.988443,0.983814,0.983567,0.973247,1.000000,0.977318,0.955562,0.125699
star_2f,0.008446,-0.024190,-0.071057,-0.080277,0.962709,0.944380,0.956913,0.920688,0.977318,1.000000,0.987702,0.129333
star_1f,0.009076,-0.032497,-0.069839,-0.078751,0.942836,0.918382,0.937764,0.887535,0.955562,0.987702,1.000000,0.132379
fulfilled1,0.008552,0.171734,0.258191,0.230884,0.131024,0.124763,0.131328,0.123521,0.125699,0.129333,0.132379,1.000000

In [9]:
df.isnull().sum()

id            0
Rating        0
price1        0
actprice1     0
Offer %       0
norating1     0
noreviews1    0
star_5f       0
star_4f       0
star_3f       0
star_2f       0
star_1f       0
fulfilled1    0
dtype: int64